<!DOCTYPE html>
<head>
</head>
<body>
   <form action="results.html" method="get">
      <label id="name">Name : </label>
      <input for="name" type = "text" placeholder="name" name="name">
      <br>
      <label id="roll_no">Roll No : </label>
      <input for="roll_no" type = "text" placeholder="roll no" name="roll_no">
      <br>
      <label id="age">Age : </label>
      <input for="age" type = "text" placeholder="age" name="age">
      <br>
      <label id="addr">Addr : </label>
      <input for="addr" type = "text" placeholder="addr" name="addr">
      <br>
      <label id="ph_no">Phone No : </label>
      <input for="ph_no" type = "text" placeholder="ph no" name="ph_no">
      <br>
      <label id="department">Department : </label>
      <input for="department" type = "text" placeholder="department" name="department">
      <br>
     
      <input  type = "submit">
   </form>
</body>