body{
    background-image: url("/static/wp4951826.jpg") no-repeat 100%;
    background-size: 100% auto;
    background-repeat: none;
}

h1,a,li{
    color:rgb(220, 255, 220)
}
label{
    color:rgb(245, 246, 247);
}

table{
    border:2px solid white;
    padding:30px;
    /*border-collapse: collapse;*/
    border-radius: 20px;
}


td{
    color:whitesmoke;
    border:1px solid goldenrod;
    padding:30px;
}