html,body{
    height: 100%;
    background-image: url("W0PNcJ.jpg");
    background-size: cover;
}

.before-main{
    text-align: center;
    background-color: black;

}

.form-signin{
    max-width: 330px;
    padding: 1rem;
}